* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Roboto Mono', sans-serif, monospace;
    
}

.caja {
    background-color: #1CD1B0;
    
    line-height: 18px;
    padding: 5px 20px;    
    
}

.caja-2 {
    padding: 20px;    
    box-shadow: 0px 5px 10px rgb(105 105 105 / 64%);
}    


h1 {
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

article {    
    
    display: inline-block;
    width: 30px;
    min-width: 300px;
    
    margin: 4%;
    padding: 60px 20px 20px 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 5px 10px rgb(105 105 105 / 64%);
    
}



.article-batman {
    
    background-image: url('../img/portada1.png');        
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e7e7e7;

    position: relative; 
  
}
.article-Harley {
    background-image: url('../img/portada2.png');
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e7e7e7;
   
    position: relative; 
  
}

.like {
    /*corazon*/
    padding-top: -150px;
    margin-left: -10px;
    margin-bottom: 40px;
    
    position: absolute; 
    top: 10px; 
    left: 20px;

}

section {
    display: flex;
    justify-content: space-evenly;
}
.perfil {
    display: block;
    border-radius: 50px;
    height: 110px;
        
    box-shadow: 0px 5px 10px rgb(105 105 105 / 64%);
    
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

}

section p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.button {
    display: block;
    border: none;
    padding: 20px 40px;  
    margin-top: 30px;
    
    margin-left: auto;
    margin-right: auto;
       
}

footer, button, .caja-2 {
    background-color: #00669F;
}

footer {
    width: 100%;
    padding: 20px;
}

footer p {
    color:white;    
    font-size: 16px;     
    text-align: center;  

}
